    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/user.js"></script>
    

    <div class="content container-fluid" style="margin-top:40px;">
      <div class="col-md-3">
        <div>
          <div><img class="avatar" height="300px" src="http://wwwin.cisco.com/dir/photo/zoom/<%= @user.uid %>.jpg"></div>
          <div><h2><%= @user.name %></h2></div>
        </div>
        <div class="clearfix"></div>
        <hr />

        <div>
          <!-- tag -->
          <code>cepm</code>
          <code>security</code>
          <code>java</code>
          <code>db</code>
          <code>senior</code>
          <code>sync</code>
        </div>
        <div class="clearfix"></div>
        <hr />

        <div class="padding-box">
          <!-- score -->
          <div class="vcard-stat">
            <strong class="vcard-stat-count"><%= @user_score.round(0) %></strong>
            <span class="text-muted">Score</span>
          </div>
          <div class="vcard-stat">
            <strong class="vcard-stat-count"><%= @fixed.count %></strong>
            <span class="text-muted">Fixed</span>
          </div>
          <div class="vcard-stat">
            <strong class="vcard-stat-count"><%= @submitted.count %></strong>
            <span class="text-muted">Submited</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr />

        <div class="padding-box">
          <!-- badge -->
          <ul class="bagde_list clearfix">
            <li class="bagde_item">
              <a title="扬V耀5">
                <img width="24" height="24" alt="扬V耀5" title="扬V耀5" src="/images/badge1.gif" medalcard="1163">
              </a>
            </li>
            <li class="bagde_item">
              <a title="扬V耀5">
                <img width="24" height="24" alt="扬V耀5" title="扬V耀5" src="/images/badge2.gif" medalcard="1163">
              </a>
            </li>
            <li class="bagde_item">
              <a title="扬V耀5">
                <img width="24" height="24" alt="扬V耀5" title="扬V耀5" src="/images/badge3.gif" medalcard="1163">
              </a>
            </li>
            <li class="bagde_item">
              <a title="扬V耀5">
                <img width="24" height="24" alt="扬V耀5" title="扬V耀5" src="/images/badge4.gif" medalcard="1163">
              </a>
            </li>
            <li class="bagde_item">
              <a title="扬V耀5">
                <img width="24" height="24" alt="扬V耀5" title="扬V耀5" src="/images/badge5.gif" medalcard="1163">
              </a>
            </li>
            <li class="bagde_item">
              <a title="扬V耀5">
                <img width="24" height="24" alt="扬V耀5" title="扬V耀5" src="/images/badge6.gif" medalcard="1163">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs">
          <li role="presentation" id="fixed" onclick="selectTab(<%= @user.id %>, $(this).attr('id'));"><a href="#">Fixed</a></li>
          <li role="presentation" id="followed" onclick="selectTab(<%= @user.id %>, $(this).attr('id'));"><a href="#">Follow</a></li>
          <li role="presentation" id="favorited" onclick="selectTab(<%= @user.id %>, $(this).attr('id'));"><a href="#">Favorite</a></li>
        </ul>
        <div>
          <div>
            <div class="table-responsive border">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Score</th>
                    <th>Views</th>
                    <th>Bug ID</th>
                    <th>Summary</th>
                    <th>Serverity</th>
                    <th>Status</th>
                    <th>Reported By</th>
                  </tr>
                </thead>
                <tbody>
                  <% @bugs.each do |bug| %>
                    <tr>
                      <td><%= bug.score %></td>
                      <td><%= bug.views %></td>
                      <td><%= bug.id %></td>
                      <td><%= bug.title %></td>
                      <td><%= bug.severity %></td>
                      <td><%= bug.status %></td>
                      <td><%= bug.submiter.name %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      $(document).ready(
        function() {
          $("#<%= @tab %>").addClass("active");
        }
      );
    </script>
